# Importar librerias

In [1]:
import pandas as pd 
import os 
from sqlalchemy import create_engine
import psycopg2
import numpy as np
import psycopg2.extras as extras

# Conectar a la BD local - Postgres

In [2]:
conn = psycopg2.connect( database="postgres",
                         user='postgres',
                         password='postgres',
                         host='localhost',
                         port='5432')

conn

# Crear tabla

In [3]:
cur = conn.cursor()
cur.execute("""CREATE TABLE IF NOT EXISTS
            table_test (
            id serial primary key,
            ts date,
            price numeric,
            user_id numeric,
            file varchar,
            batch numeric,
            created_at timestamp default now())""")


cur.execute("""CREATE TABLE IF NOT EXISTS
            table_test_report (
            id_batch varchar,
            filas_cargadas numeric,
            min_price numeric,
            avg_price numeric,	
            max_price numeric,
            created_at timestamp default now())""")

cur.close()
conn.commit()
cur.close()

In [4]:
folder='dataPruebaDataEngineer'
files=os.listdir(folder)
files.remove('validation.csv')

# Funcion para insertar datos de un DF a una base de datos

In [5]:
def execute_values(conn, df, table):

    tuples = [tuple(x) for x in df.to_numpy()]

    cols = ','.join(list(df.columns))
    # SQL query to execute
    query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    cursor = conn.cursor()
    try:
        extras.execute_values(cursor, query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("the dataframe is inserted")
    cursor.close()

# Leer archivos CSV por batches (chunks)

In [6]:
from sqlalchemy import create_engine
import numpy as np 
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')
conn2=engine.connect()


for f in files:
    print(f)
    batch=pd.read_csv(folder+'/'+f,chunksize=10)
    no_batch=0
    for data in batch:
        data.replace(np.nan,None,inplace=True)
        no_batch=no_batch+1
        data['ts']=pd.to_datetime(data['timestamp'])
        data.drop(columns=['timestamp'],inplace=True)
        data['file']=f
        data['batch']=no_batch
        execute_values(conn,data,'table_test')

        print("Reporte:")
        cur = conn.cursor()        
        query="select concat(file,'-',batch) as id_batch ,count(*) as filas_cargadas ,min(price) min_price,avg(price) avg_price,max(price) max_price from table_test where file = '"+ str(f) +"' and batch ="+ str(no_batch) + " group by 1"
        query=pd.read_sql(query,conn2)
        execute_values(conn,query,'table_test_report')
        display(query)
        cur.close()

2012-1.csv
the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-1.csv-1              10       14.0       63.0       97.0

the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-1.csv-2              10       27.0  52.777778       96.0

the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-1.csv-3               2       88.0       88.0       88.0

2012-2.csv
the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-2.csv-1              10       19.0       61.8      100.0

the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-2.csv-2              10       10.0       42.3       95.0

the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-2.csv-3               9       17.0       61.0       87.0

2012-3.csv
the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-3.csv-1              10       12.0       54.7       99.0

the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-3.csv-2              10       13.0       66.1       95.0

the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-3.csv-3              10       18.0       57.7       96.0

the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-3.csv-4               1       65.0       65.0       65.0

2012-4.csv
the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-4.csv-1              10       12.0       54.0       91.0

the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-4.csv-2              10       10.0  62.333333       97.0

the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-4.csv-3              10       19.0  56.222222       82.0

2012-5.csv
the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-5.csv-1              10       13.0       49.7       95.0

the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-5.csv-2              10       16.0       57.3       91.0

the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-5.csv-3              10       34.0       70.3      100.0

the dataframe is inserted
Reporte:
the dataframe is inserted

       id_batch  filas_cargadas  min_price  avg_price  max_price
0  2012-5.csv-4               1       33.0       33.0       33.0

In [7]:
conn.close()
conn2.close()